.banner__imagen{
    background-image: url(/assets/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 72px);
}