.cabezera{
    align-items: center;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (min-width: 0) {
    .cabezera{
        padding: 0 1rem;
        justify-content: center;
    }

    .cabezera img{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .cabezera{
        padding: 0 5rem;
        justify-content: space-between;
    }

    .cabezera img{
        display: block;
    }
}
